<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>sqlite3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>sqlite3Dome.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A067C5031CACF27C0041C82C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A067C51C1CACF27D0041C82C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A067C5271CACF27D0041C82C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A067C53F1CACF49C0041C82C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A067C5581CAD03370041C82C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
