<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GCDtest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A067C4C21CA3D0D00041C82C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A067C4DB1CA3D0D00041C82C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A067C4E61CA3D0D00041C82C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
